#heading h1{
  font-weight: 600;
  font-size: 4vw;
  /* opacity:0.3; */
}
#heading h2{
  font-weight: 600;
  font-size: 3vw;
  position:relative;
  bottom: 2.5vw;
}
.eventName{
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: min-content;
  margin-top: 3rem;
  box-sizing: border-box;
}
.event{
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  /* width: 80vw;  */
  
  align-items: center;
  margin: 1rem auto;
}

/* .eventImg {
  height: 80%;
  width: 100vw;
  min-width: 200px;
} */

.eventDesc{
  
  margin-left: 2vw;
  margin-right: 2vw;
  /* width:40vw; */
  margin-top: 2vh;

  text-align: justify;
  
}

.space {
  width: 10px;
  visibility: hidden;
}

.EveImg {
  /* height: 40vh; */
  width: 22vw;
  min-width: 230px;
}
