@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
  /* background-color: #162053; */
  font-family: 'Outfit';
  margin: 0;
  font-style: normal;
  box-sizing: 0;
  color:white
}
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background-image: url('./EventImages/bizbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  display: block;
}

